* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
    background: whitesmoke;
}

ul {
    list-style-type: none;
}

#checkUnDone {
    margin: 0 1rem;
}